@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


#__next {
  width: 100%;
  min-height: 100vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #1c1e21;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

.navLink {
  list-style-type: none;
}
.active {
  @apply text-[#43b083] dark:text-[#14F195];
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  margin: 0;
  text-align: center;
}

/* Fluid Fonts */

body {
  font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 400;
  letter-spacing: 125%;
  line-height: 135%;
}

h1 {
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 900;
  letter-spacing: 125%;
  line-height: calc(36px + (40 - 36) * ((100vw - 320px) / (1280 - 320)));
}
h2 {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 800;
  letter-spacing: 125%;
  line-height: calc(34px + (38 - 34) * ((100vw - 320px) / (1280 - 320)));
}
h3 {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 700;
  letter-spacing: 125%;
  line-height: calc(28px + (32 - 28) * ((100vw - 320px) / (1280 - 320)));
}

/* Scrollbar */

/* width */
body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--chakra-colors-transparent);
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-transparent  dark:bg-[#03040e];
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-[#ffffff]  dark:bg-[#03040e];
  border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Glow Button */
.glow-on-hover {
  @apply bg-[#fff] dark:bg-[#111];
  height: 50px;
  min-width: 150px;
  border: 1px solid gray;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow {
  min-width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}
.glow:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}
.glow:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}
.glow:before {
  opacity: 1;
}

.glow-on-hover:after {
  @apply bg-[#fff] dark:bg-[#111];
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.glow:after {
  @apply bg-[#fff] dark:bg-[#111];
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
