/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

/* Include Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Next.js container */
/* #__next {
  width: 100%;
  min-height: 100vh;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Root variables */
/* :root {
  --background-color: #121314;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
} */

/* Navigation link styles */
.navLink {
  list-style-type: none;
}

/* Active navigation link */
.active {
  @apply text-[#43b083] dark:text-[#14F195];
}

/* Custom Wallet Button */
.mymultibutton {
  @apply bg-black text-white hover:text-black hover:bg-builderz-blue !important;
  border: 1px solid black !important;
}

/* Body styles */
body {
  font-family: 'Inter', sans-serif;
    @apply bg-light-mesh dark:bg-mesh text-black dark:text-white selection:bg-builderz-blue selection:text-white selection:px-4 dark:selection:text-black;
  /* margin: 0; */
  height: 100vh;
  /* Fluid Fonts */
  font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 400;
  letter-spacing: 125%;
  line-height: 135%;
}

/* Heading styles */
h1 {
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 900;
  letter-spacing: 125%;
  line-height: calc(36px + (40 - 36) * ((100vw - 320px) / (1280 - 320)));
}
h2 {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 800;
  letter-spacing: 125%;
  line-height: calc(34px + (38 - 34) * ((100vw - 320px) / (1280 - 320)));
}
h3 {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 700;
  letter-spacing: 125%;
  line-height: calc(28px + (32 - 28) * ((100vw - 320px) / (1280 - 320)));
}

/* Scrollbar styles */
/* width */
body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--chakra-colors-transparent);
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-transparent dark:bg-[#03040e];
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-[#ffffff] dark:bg-[#03040e];
  border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* NavigationLink Hover */
.navLink {
  @apply px-2 py-1 rounded-md hover:text-[#43b083] dark:hover:text-[#14F195] bg-opacity-20;
}


/* Glow Buttons */
.glow-on-hover {
  @apply bg-transparent text-black dark:text-white hover:text-white;
  height: 50px;
  min-width: 150px;
  border: 1px solid gray;
  outline: none;

  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow {
  @apply text-black dark:text-white;
  min-width: 150px;
  height: 50px;
  border: none;
  outline: none;

  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}
.glow:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}
.glow:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}
.glow:before {
  opacity: 1;
}

.glow-on-hover:after {
  @apply bg-transparent text-black dark:text-white;
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.glow:after {
  @apply bg-transparent text-black dark:text-white;
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.css-i4bv87-MuiSvgIcon-root {
  @apply text-black dark:text-white !important;
}

.meshBg {
  background: #0a0924; background-image: radial-gradient(at 47.0% 96.0%, #151b40 0px, transparent 50%),radial-gradient(at 61.0% 15.0%, #09162b 0px, transparent 50%),radial-gradient(at 8.0% 16.0%, #0f1930 0px, transparent 50%),radial-gradient(at 85.0% 28.0%, #110c3d 0px, transparent 50%),radial-gradient(at 81.0% 66.0%, #060d1f 0px, transparent 50%)
}

.lightMeshBg {
  background: #e6e6f0; background-image: radial-gradient(at 47.0% 96.0%, #a8abbd 0px, transparent 50%),radial-gradient(at 61.0% 15.0%, #d5dde8 0px, transparent 50%),radial-gradient(at 8.0% 16.0%, #c3ccde 0px, transparent 50%),radial-gradient(at 85.0% 28.0%, #b2abeb 0px, transparent 50%),radial-gradient(at 81.0% 66.0%, #ccd2e0 0px, transparent 50%)
}