.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.h1 {
  margin-bottom: 8px;
}

.explain {
  font-size: 1.125rem;
  margin-bottom: 24px;
}

.lightPurple {
  color: #e011a7;
}
